.wk_extpage_head_wrap.clear_fix.wk_extpage_head_unsubscribed
    a.wk_extpage_owner_thumb.fl_l(href=homepageLink target="_blank")
      img.wk_extpage_owner_thumb(src=logo, width='100', height='100')
    .wk_extpage_head_owner_title
      div.wk_extpage_head_domain!= title
    .wk_extpage_head_description!= subtitle
!= body
br.clear
.wk_view_footer.clear_fix
  a.wk_view_footer_a.fl_r(href=homepageLink target="_blank")!= homepage
